<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>富文本编辑器</title>
</head>
<body>
<div class="title">
    <input type="text">
</div>
<div class="content">
    <div class="menu">
        <button class="set-bold">加粗</button>
        <button class="set-color">红色</button>
        <button class="set-bg-color">背景色</button>
        <button class="set-decoration">下划线</button>
        <a href="javascript:;" class="set-picture">选择图片
            <input class="choose-pic" value="插入图片" type="file"/>
        </a>
    </div>
    <iframe src="" id="con-iframe">

    </iframe>
</div>
<script>

</script>
</body>
</html>